<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>在线转码系统 - 专家模式（网页版FFmpeg）</title>
    <meta name="description" content="在线转码工具 - 专家模式（网页版FFmpeg）：在浏览器中使用FFmpeg进行转码。使用专家模式需要熟悉FFmpeg的参数。出于wasm的效率考虑，推荐仅用于转换短视频或音频文件。项目已在GitHub上开源。">
    <link crossorigin="anonymous" rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.9.2/theme-chalk/index.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="alternate" hreflang="en" href="advanced.html" />
    <link rel="alternate" hreflang="zh" href="advanced_zh.html" />
</head>
<body>
<div id="app" style="margin-left: 10%; margin-right: 10%;">
    <h1>在线转码系统 - 专家模式（网页版FFmpeg）</h1>
    <el-row>
        <p>Language/语言:
            <el-link type="primary" href="advanced.html">English</el-link>
            <el-link type="primary" href="advanced_zh.html">中文</el-link>
        </p>
    </el-row>
    <h2>系统介绍</h2>
    <el-row>
        <p>在你的浏览器上运行FFmpeg进行转码。使用专家模式意味着你熟悉FFmpeg的参数。出于wasm的效率考虑，仅推荐转短视频或音频。</p>
        <el-link type="warning" href="index_zh.html">点击切换到简单模式</el-link>
        <p>
            <el-link type="success" href="https://github.com/chn-lee-yumi/ffmpeg_in_browser">本项目在 GitHub 上开源</el-link>
        </p>
        <p>
            其它工具：
            <el-link type="success" href="https://tools.gcc.ac.cn/">https://tools.gcc.ac.cn/</el-link>
        </p>
    </el-row>
    <h2>转码命令</h2>
    <el-form :inline="true">
        <el-form-item label="ffmpeg -i">
            <el-upload ref="upload" v-loading="loading" :on-change="updateFile" :auto-upload="false" limit="1" multiple="false"
                       :on-exceed="handleExceed">
                <el-button size="big" type="primary">选择文件</el-button>
            </el-upload>
        </el-form-item>
        <el-form-item>
            <el-input placeholder="命令参数" v-model="params" class="input-with-select" style="width: 550px"></el-input>
        </el-form-item>
        <el-form-item label="-o">
            <el-input placeholder="输出文件名" v-model="outputName" class="input-with-select" style="width: 150px"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button size="big" type="success" @click="start">运行</el-button>
        </el-form-item>
    </el-form>
    <h2>系统输出</h2>
    <el-card class="box-card">
        <pre id="tty" style="white-space: pre-wrap; word-wrap: break-word;"></pre>
    </el-card>
</div>
</body>
<script crossorigin="anonymous" src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<script crossorigin="anonymous" src="https://cdn.bootcss.com/element-ui/2.9.2/index.js"></script>
<script>
var worker = new Worker('worker.js');

worker.onmessage = function (event) {
	console.log(event)
	if(event.data.type=="tty"){
		var temp=document.getElementById("tty").innerHTML
		document.getElementById("tty").innerHTML=temp+"</br>"+event.data.value
		document.body.scrollTop=document.body.scrollHeight;
	} else if (event.data.type=="file"){
		setLoading(false)
		alert("转码完成！点击确定下载文件。")
		downloadFileByBlob(event.data.value,event.data.name)
	}
}

function downloadFileByBlob(blobUrl, filename) {
    const eleLink = document.createElement('a')
    eleLink.download = filename
    eleLink.style.display = 'none'
    eleLink.href = blobUrl
    document.body.appendChild(eleLink)
    eleLink.click()
    document.body.removeChild(eleLink)
}

new Vue({
  el: '#app',
  data: {
	  loading: false,
	  fileList: [],
	  mode: 1,
	  params: "-c:v copy -c:a copy",
	  outputName: "output.mp4"
  },
  mounted:function (){
	  window.setLoading=this.setLoading
  },
  methods: {
    updateFile(files, fileList) {
        this.fileList = fileList;
    },
    handleExceed(files, fileList) {
        this.$set(fileList[0], 'raw', files[0]);
        this.$set(fileList[0], 'name', files[0].name);
        this.$refs.upload.clearFiles();
        this.$refs.upload.handleStart(files[0]);
    },
    start: function(){
        console.log(this.fileList);
        if(this.fileList.length!=1) return;
		this.loading=true
		console.log(this.fileList[0].name)
		console.log(this.params,this.outputName)
		worker.postMessage({
		    "mode":this.mode,
			"fileList":[this.fileList[0].raw],
			"params":this.params,
			"outputName":this.outputName})
    },
	setLoading: function (val){
		this.loading=val
		this.fileList=[]
	}
  }
})
</script>
</html>
