<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>FFmpeg在线转码（FFmpeg网页版）</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FFmpeg在线转码。在浏览器中使用FFmpeg进行转换。专家模式需要熟悉FFmpeg参数。由于wasm效率，仅推荐用于转换短视频或音频文件。">
    <link crossorigin="anonymous" rel="stylesheet" href="https://unpkg.com/element-ui@2.15.14/lib/theme-chalk/index.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="alternate" hreflang="en" href="advanced.html" />
    <link rel="alternate" hreflang="zh" href="advanced_zh.html" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8336276656855850" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZZZQVLS89C"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ZZZQVLS89C');
    </script>
</head>
<body>
<div id="app" style="margin-left: 10%; margin-right: 10%; margin-bottom: 5%;">
    <h1>FFmpeg在线转码系统（FFmpeg网页版） - 专家模式</h1>
    <el-row>
        <p>Language/语言:
            <el-link type="primary" href="advanced.html">English</el-link>
            <el-link type="primary" href="advanced_zh.html">中文</el-link>
        </p>
    </el-row>
    <h2>系统介绍</h2>
    <el-row>
        <p>在你的浏览器上运行FFmpeg进行转码（基于FFmpeg.wasm）。使用专家模式意味着你熟悉FFmpeg的参数。出于wasm的效率考虑，仅推荐转短视频或音频。</p>
        <el-link type="warning" href="index_zh.html">点击切换到简单模式</el-link>
        <p>
            <el-link type="success" href="https://github.com/chn-lee-yumi/ffmpeg_in_browser">本项目在 GitHub 上开源（欢迎通过issue提建议和反馈）</el-link>
        </p>
        <p>
            其它工具：
            <el-link type="success" href="https://tool.gcc.ac.cn/">https://tool.gcc.ac.cn/</el-link>
        </p>
    </el-row>
    <h2>配置</h2>
    <el-row>
        线程模式:
        <el-switch v-model="threadMode" active-text="多线程 (更快但不稳定，只有部分浏览器支持)"
                   inactive-text="单线程" @change="reloadFFmpeg"></el-switch>
    </el-row>
    <h2>转码命令</h2>
    <el-form :inline="true">
        <el-form-item label="ffmpeg -i">
            <el-upload ref="upload" :on-change="handleFiles" :auto-upload="false" limit="1" multiple="false" :on-exceed="handleExceed">
                <el-button size="big" type="primary">选择文件</el-button>
            </el-upload>
        </el-form-item>
        <el-form-item>
            <el-input placeholder="命令参数" v-model="params" class="input-with-select" style="width: 550px"></el-input>
        </el-form-item>
        <el-form-item label="-o">
            <el-input placeholder="输出文件名" v-model="outputName" class="input-with-select" style="width: 150px"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button size="big" type="success" @click="start" v-loading="loading">运行</el-button>
        </el-form-item>
    </el-form>
    <h2>系统输出</h2>
    <el-card class="box-card">
        <pre id="tty" style="white-space: pre-wrap; word-wrap: break-word;">正在加载 FFmpeg，请耐心等候...</pre>
        <el-row v-if="downloading">
            <p v-model="currentLoadingUrl">下载中: {{currentLoadingUrl}}</p>
            <el-progress :percentage="percentage"></el-progress>
        </el-row>
    </el-card>
</div>
</body>
<script crossorigin="anonymous" src="https://unpkg.com/vue@2.7.16/dist/vue.min.js"></script>
<script crossorigin="anonymous" src="https://unpkg.com/element-ui@2.15.14/lib/index.js"></script>
<script src="common.js"></script>
<script>
new Vue({
    el: '#app',
    data: {
        loading: false,
        fileList: [],
        file: null,
        params: "-c:v copy -c:a copy",
        outputName: "output.mp4",
        percentage: 0,
        threadMode: false,
        currentLoadingUrl: "",
        total: 0,
        received: 0,
        downloading: false,
    },
    mounted: async function() {
        this.loading = true;
        this.downloading = true;
        await load(this.threadMode, this.cb);
        this.downloading = false;
        this.loading = false;
        log("FFmpeg 加载完毕！");
    },
    methods: {
        cb: function(data) {
            this.currentLoadingUrl = data.url;
            this.total = data.total;
            this.received = data.received;
            this.percentage = ((data.received / data.total) * 100).toFixed(0);
        },
        reloadFFmpeg: async function() {
            cleanLog();
            log("正在重新加载 FFmpeg...");
            this.loading = true;
            this.downloading = true;
            await load(this.threadMode, this.cb);
            this.downloading = false;
            this.loading = false;
            log("FFmpeg 加载完毕！");
        },
        handleFiles(file, fileList) {
            this.file = file;
            this.fileList = fileList;
        },
        handleExceed(files, fileList) {
            this.$set(fileList[0], 'raw', files[0]);
            this.$set(fileList[0], 'name', files[0].name);
            this.$refs.upload.clearFiles();
            this.$refs.upload.handleStart(files[0]);
        },
        start: async function() {
            cleanLog();
            const file = this.file;
            this.loading = true;
            console.log(file.name);
            const inputDir = '/input';
            const inputFile = `${inputDir}/${file.name}`;
            await ffmpeg.createDir(inputDir);
            await ffmpeg.mount('WORKERFS', {
                files: [file.raw],
            }, inputDir);
            var args = ['-i', inputFile];
            var params = this.params.trim();
            if (params != "") args = args.concat(params.split(" "));
            args.push(this.outputName);
            console.log(args);
            const err = await ffmpeg.exec(args);
            if (err != 0) {
                log("<strong>转码过程发生错误！请看上面的日志。</strong>");
            } else {
                log("正在导出文件...");
                const data = await ffmpeg.readFile(this.outputName);
                downloadFileByBlob(URL.createObjectURL(new Blob([data.buffer], {
                    type: "application/octet-stream"
                })), this.outputName);
            }
            await ffmpeg.unmount(inputDir);
            await ffmpeg.deleteDir(inputDir);
            this.loading = false;
        }
    }
})
</script>
</html>
