<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>在线转码系统</title>
    <link crossorigin="anonymous" rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.9.2/theme-chalk/index.css">
</head>
<body>
<div id="app" style="margin-left: 10%; margin-right: 10%;">
    <h1>在线转码系统 - 专家模式</h1>
    <el-link type="primary" href="index.html">点击切换到简单模式</el-link>
    <h2>转码命令</h2>
    <el-form :inline="true">
        <el-form-item label="ffmpeg -i">
            <el-upload ref="upload" v-loading="loading" :on-change="updateFile" :auto-upload="false" limit="1" multiple="false"
                       :on-exceed="handleExceed">
                <el-button size="big" type="primary">选择文件</el-button>
            </el-upload>
        </el-form-item>
        <el-form-item>
            <el-input placeholder="命令参数" v-model="params" class="input-with-select" style="width: 550px"></el-input>
        </el-form-item>
        <el-form-item label="-o">
            <el-input placeholder="输出文件名" v-model="outputName" class="input-with-select" style="width: 150px">-o</el-input>
        </el-form-item>
        <el-form-item>
            <el-button size="big" type="success" @click="start">运行</el-button>
        </el-form-item>
    </el-form>
    <h2>系统输出</h2>
    <el-card class="box-card">
        <pre id="tty"></pre>
    </el-card>
</div>
</body>
<script crossorigin="anonymous" src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<script crossorigin="anonymous" src="https://cdn.bootcss.com/element-ui/2.9.2/index.js"></script>
<script>
var worker = new Worker('worker.js');

worker.onmessage = function (event) {
	console.log(event)
	if(event.data.type=="tty"){
		var temp=document.getElementById("tty").innerHTML
		document.getElementById("tty").innerHTML=temp+"</br>"+event.data.value
		document.body.scrollTop=document.body.scrollHeight;
		// document.write(event.data.value)
	} else if (event.data.type=="file"){
		setLoading(false)
		alert("转码完成！点击确定下载文件。")
		downloadFileByBlob(event.data.value,event.data.name)
	}
}

function downloadFileByBlob(blobUrl, filename) {
    const eleLink = document.createElement('a')
    eleLink.download = filename
    eleLink.style.display = 'none'
    eleLink.href = blobUrl
    // 触发点击
    document.body.appendChild(eleLink)
    eleLink.click()
    // 然后移除
    document.body.removeChild(eleLink)
}

new Vue({
  el: '#app',
  data: {
	  loading: false,
	  fileList: [],
	  mode: 1,
	  params: "-c:v copy -c:a copy",
	  outputName: "output.mp4"
  },
  mounted:function (){
	  window.setLoading=this.setLoading
  },
  methods: {
    updateFile(files, fileList) {
        this.fileList = fileList;
    },
    handleExceed(files, fileList) {
        // 覆盖上传，参考：https://blog.csdn.net/lcy460692978/article/details/103072246
        this.$set(fileList[0], 'raw', files[0]);
        this.$set(fileList[0], 'name', files[0].name);
        this.$refs.upload.clearFiles();
        this.$refs.upload.handleStart(files[0]);
    },
    start: function(){
        console.log(this.fileList);
        if(this.fileList.length!=1) return;
		this.loading=true
		console.log(this.fileList[0].name)
		console.log(this.params,this.outputName)
		worker.postMessage({
		    "mode":mode,
			"fileList":[this.fileList[0].raw],
			"params":this.params,
			"outputName":this.outputName})
    },
	setLoading: function (val){
		this.loading=val
		this.fileList=[]
	}
  }
})
</script>
<style>
pre { white-space: pre-wrap; word-wrap: break-word; }
</style>
</html>
