<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FFmpeg Online Converter (Web-based FFmpeg)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FFmpeg online converter. Convert videos/audio in-browser via FFmpeg. Expert Mode for FFmpeg-savvy users. Best for quick file conversions due to wasm efficiency.">
    <link crossorigin="anonymous" rel="stylesheet" href="https://unpkg.com/element-ui@2.15.14/lib/theme-chalk/index.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="alternate" hreflang="en" href="advanced.html"/>
    <link rel="alternate" hreflang="zh" href="advanced_zh.html"/>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8336276656855850" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZZZQVLS89C"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ZZZQVLS89C');
    </script>
</head>
<body>
<div id="app" style="margin-left: 10%; margin-right: 10%;">
    <h1>FFmpeg Online Converter - Expert Mode</h1>
    <el-row>
        <p>Language/语言:
            <el-link type="primary" href="advanced.html">English</el-link>
            <el-link type="primary" href="advanced_zh.html">中文</el-link>
        </p>
    </el-row>
    <h2>Introduction</h2>
    <el-row>
        <p>Convert with FFmpeg in your browser (based on FFmpeg.wasm). Using Expert Mode implies familiarity with FFmpeg's parameters. Due to wasm
            efficiency considerations, it's recommended for converting only short videos or audio files.</p>
        <p>
            <el-link type="warning" href="index.html">Click to switch to Simple Mode</el-link>
        </p>
        <p>
            <el-link type="success" href="https://github.com/chn-lee-yumi/ffmpeg_in_browser">This project is open source on GitHub (Welcome to provide
                suggestions and feedback through issues)
            </el-link>
        </p>
        <p>
            Other tools:
            <el-link type="success" href="https://tool.gcc.ac.cn/">https://tool.gcc.ac.cn/</el-link>
        </p>
    </el-row>
    <h2>Transcoding Command</h2>
    <el-form :inline="true">
        <el-form-item label="ffmpeg -i">
            <el-upload ref="upload" :on-change="handleFiles" :auto-upload="false" limit="1" multiple="false" :on-exceed="handleExceed">
                <el-button size="big" type="primary">Select File</el-button>
            </el-upload>
        </el-form-item>
        <el-form-item>
            <el-input placeholder="Command Parameters" v-model="params" class="input-with-select" style="width: 550px"></el-input>
        </el-form-item>
        <el-form-item label="-o">
            <el-input placeholder="Output Filename" v-model="outputName" class="input-with-select" style="width: 150px"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button size="big" type="success" @click="start" v-loading="loading">Run</el-button>
        </el-form-item>
    </el-form>
    <h2>System Output</h2>
    <el-card class="box-card">
        <pre id="tty" style="white-space: pre-wrap; word-wrap: break-word;">Loading FFmpeg, please wait...</pre>
    </el-card>
</div>
</body>
<script crossorigin="anonymous" src="https://unpkg.com/vue@2.7.16/dist/vue.min.js"></script>
<script crossorigin="anonymous" src="https://unpkg.com/element-ui@2.15.14/lib/index.js"></script>
<script src="url.js"></script>
<script src="common.js"></script>
<script>
new Vue({
    el: '#app',
    data: {
        loading: false,
        fileList: [],
        file: null,
        params: "-c:v copy -c:a copy",
        outputName: "output.mp4"
    },
    mounted: async function() {
        this.loading = true;
        await load();
        this.loading = false;
        log("FFmpeg Loaded!");
    },
    methods: {
        handleFiles(file, fileList) {
            this.file = file;
            this.fileList = fileList;
        },
        handleExceed(files, fileList) {
            this.$set(fileList[0], 'raw', files[0]);
            this.$set(fileList[0], 'name', files[0].name);
            this.$refs.upload.clearFiles();
            this.$refs.upload.handleStart(files[0]);
        },
        start: async function() {
            const file = this.file;
            this.loading = true;
            console.log(file.name);
            const inputDir = '/input';
            const inputFile = `${inputDir}/${file.name}`;
            await ffmpeg.createDir(inputDir);
            await ffmpeg.mount('WORKERFS', {
                files: [file.raw],
            }, inputDir);
            var args = ['-i', inputFile];
            var params = this.params.trim();
            if (params != "") args = args.concat(params.split(" "));
            args.push(this.outputName);
            console.log(args);
            await ffmpeg.exec(args);
            const data = await ffmpeg.readFile(this.outputName);
            downloadFileByBlob(URL.createObjectURL(new Blob([data.buffer], {
                type: "application/octet-stream"
            })), this.outputName);
            await ffmpeg.unmount(inputDir);
            await ffmpeg.deleteDir(inputDir);
            this.loading = false;
            log("Exporting output file...")
        }
    }
})
</script>
</html>
