<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>在线转码系统</title>
    <link crossorigin="anonymous" rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.9.2/theme-chalk/index.css">
</head>
<body>
<div id="app" style="margin-left: 10%; margin-right: 10%;">
	<h1>在线转码系统</h1>
	<h2>系统介绍</h2>
	<p>视频音频格式随便转。</p>
	<p>使用浏览器转码，速度取决于你的电脑性能。仅推荐转短视频或音频，大型视频请使用专业软件转码。</p>
	<h2>转码参数</h2>
	<el-row>
		视频码率：<el-input placeholder="留空代表默认，示例值：2m, 1m, 512k" v-model="videoBitrate" style="width: 30%;"></el-input>（注：音频文件请留空）
	</el-row>
	<el-row>
		音频码率：<el-input placeholder="留空代表默认，示例值：128k, 96k" v-model="audioBitrate" style="width: 30%;"></el-input>
	</el-row>
	<el-row>
		输出文件名：<el-input placeholder="" v-model="outputName" style="width: 30%;"></el-input>（注：格式直接取决于文件名后缀，请勿和选择的文件同名）
	</el-row>
	<h2>开始转码</h2>
	<!-- <input id="file_input" type="file" /> -->
	<el-upload v-loading="loading" :on-change="handleFiles" :file-list="fileList" :auto-upload="false">
	    <el-button size="big" type="primary">选择文件</el-button>
	</el-upload>
	<h2>系统输出</h2>
	<el-card class="box-card">
		<pre id="tty"></pre>
	</el-card>
</div>
</body>
<script crossorigin="anonymous" src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<script crossorigin="anonymous" src="https://cdn.bootcss.com/element-ui/2.9.2/index.js"></script>
<script>
var worker = new Worker('worker.js');
// var inputElement = document.getElementById("file_input")
// inputElement.addEventListener("change", handleFiles, false)
// function handleFiles() {
// 	var fileList = this.files
// 	console.log(fileList)
// 	worker.postMessage({"fileList":fileList,"videoBitrate":"512k"})
// }

worker.onmessage = function (event) {
	console.log(event)
	if(event.data.type=="tty"){
		var temp=document.getElementById("tty").innerHTML
		document.getElementById("tty").innerHTML=temp+"</br>"+event.data.value
		document.body.scrollTop=document.body.scrollHeight;
		// document.write(event.data.value)
	} else if (event.data.type=="file"){
		setLoading(false)
		alert("转码完成！点击确定下载文件。")
		downloadFileByBlob(event.data.value,event.data.name)
	}
}

function downloadFileByBlob(blobUrl, filename) {
    const eleLink = document.createElement('a')
    eleLink.download = filename
    eleLink.style.display = 'none'
    eleLink.href = blobUrl
    // 触发点击
    document.body.appendChild(eleLink)
    eleLink.click()
    // 然后移除
    document.body.removeChild(eleLink)
}

new Vue({
  el: '#app',
  data: {
	  loading: false,
	  fileList: [],
	  videoBitrate: "",
	  audioBitrate: "",
	  outputName: "output.mp4"
  },
  mounted:function (){
	  window.setLoading=this.setLoading
  },
  methods: {
    handleFiles: function (file, fileList) {
		this.loading=true
		console.log(file.name)
		console.log(this.videoBitrate,this.audioBitrate,this.outputName)
		worker.postMessage({
			"fileList":[file.raw],
			"videoBitrate":this.videoBitrate,
			"audioBitrate":this.audioBitrate,
			"outputName":this.outputName})
    },
	setLoading: function (val){
		this.loading=val
		this.fileList=[]
	}
  }
})
</script>

<style>
pre { white-space: pre-wrap; word-wrap: break-word; }
</style>
</html>
